@import "tailwindcss";

/* Hide scrollbar but keep functionality */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
}

@media (max-width: 639px) {
  * {
    -ms-overflow-style: none;
  }

  *::-webkit-scrollbar {
    display: none;
  }

  /* Fix sonner toast centering when width is fit-content */
  [data-sonner-toaster][data-mobile="true"] [data-sonner-toast] {
    margin-right: auto !important;
    margin-left: auto !important;
  }
}
